# For loops, indexing, simulation

## To start

In [ ]:
# Don't change this cell; just run it.

# Load the standard array library.
import numpy as np

# Load the Pandas library for loading data.
import pandas as pd

# The OKpy testing system.
from client.api.notebook import Notebook
ok = Notebook('fors_simulation.ok')

The questions start fairly slowly, but they pick up speed towards the end.

## Fixing for loops

Some cells in this section have errors in syntax or in logic, or both.  You
will need to fix these before you can get to the solution.

A syntax error happens when the code does not correspond to Python's rules;
Python generates an error with some information about which bit of the code
caused the problem.

A logic error is where the code does run, but does not do what it was intended
to do.

In all these exercises, when you see `...` it tells you that there is something
you need to fill in, to make the code work correctly.

In [ ]:
#- Fix and finish this code to add all the numbers from 1 through 12
total1 = ...
#- You need to fix something here.
for my_var in np.arange(1, 13)
    #- Add the number to the total
    total1 = total1 + my_var

# Show the total
total1

Test your answer with:

In [ ]:
_ = ok.grade('q_total1')

Fix and finish the following "for" loop code:

In [ ]:
#- Multiply all the numbers from 3 through 10
#- as in 3 * 4 * 5 * 6 * 7 * 8 * 9 * 10
#- but use a "for" loop.
total2 = ...
for v in np.arange(3, 11):
total2 = total2 * v

# Show the total
total2

Test your answer:

In [ ]:
_ = ok.grade('q_total2')

In the next cell, load [this
dataset](https://github.com/matthew-brett/datasets/tree/master/good_and_easy)
as a data frame named `courses`.  The dataset contains the average of student
ratings for US professors within subjects, such as Psychology, Mathematics and
so on.  The filename for the dataset is `rate_my_course.csv`.

In [ ]:
#- Load the dataset
courses = ...

# Show the top 5 rows.
courses.head()

In [ ]:
_ = ok.grade('q_courses')

Now sort `courses` by the values in the `Easiness` column, and put the rows for the top 10 easiest courses into a new data frame, `easy_top_10`.  The rows should be sorted by the `Easiness` values, easiest first.

In [ ]:
#- Put the rows for the 10 easiest courses into their own data frame.
easy_top_10 = ...

# Show the data frame
easy_top_10

In [ ]:
_ = ok.grade('q_easy_top_10')

Here is a skeleton of a "for" loop to calculate the mean of the 10 easiness
ratings from this data frame.   Of course, there's an easier way to do this calculation, but, just for practice.  There is a deliberate mistake in this code, for you to fix.

In [ ]:
total = 1
for i in np.arange(10):
    row = easy_top_10.iloc...
    rating = row.loc...
    total = ...
mean_easy = ...

# Show the mean difference
mean_easy

Test your answer:

In [ ]:
_ = ok.grade('q_mean_easy')

## Christenings in London

In our simulations of the three girls problem, we assumed that the chance of having a girl is the same as the chance of having a boy.

In fact this is not quite true - on any one birth, the child is very slightly more likely to be male than female.

This odd fact was the inspiration for the very first statistical hypothesis
test, by Dr John Arbuthnot, in 1710.  He was interested in the number of male
and female children born in London.  As a way of getting at this, he collected
records of number of christenings of male and female children between 1629 and
1710 - see [Arbuthnot's christening
data](https://github.com/matthew-brett/datasets/tree/master/arbuthnot).

Here are the number of christenings of male children for each year
from 1629 through 1710.

In [ ]:
# Run this cell; do not change it.
# Load the data.
christenings = pd.read_csv('arbuthnot.csv')
christenings.head()

There are 82 values, one for each year from 1629 through 1710:

In [ ]:
# Run this cell.
# It shows the number of rows in the table.
len(christenings)

Arbuthnot was interested in whether there were more males than females born, in each year.  To do this calculation, we first need to subtract the number of females from the number of males, to get 82 difference values.  For example, this is the first difference value we want:

In [ ]:
# Run this cell.
# The first difference value
christenings['Males'].iloc[0] - christenings['Females'].iloc[0]

The second difference value:

In [ ]:
# Run this cell.
# The second difference value
christenings['Males'].iloc[1] - christenings['Females'].iloc[1]

Now make a new *column* in the `christenings` data frame, called `Difference`
that has the difference values corresponding to the `Male` and `Female` values
in each row.  The first element in the column will be 535, the second will be
401, and so on:

In [ ]:
...

# Show the differences values
christenings['Difference']

In [ ]:
_ = ok.grade('q_differences')

Back to Arbuthnot's problem - we now ask - for what proportion of these 82
years were there more male than female births?  Use `np.count_nonzero` and
comparison to show the *proportion* of the `differences` values that are
greater than 0.

In [ ]:
p_gt_0 = ...

# Show the proportion.
p_gt_0

Test your answer:

In [ ]:
_ = ok.grade('q_p_gt_0')

The result you have just found is the one that interested Arbuthnot.  He
reasoned that the result cannot be explained by chance variation, and backed
this up with some calculations of probability.

We can use *simulation* to see how likely this proportion is, by chance.

Let us assume that we live in a world where the chance of a boy being born is
equal to that of a girl, and that every boy and girl born, is christened.

In that case, when we look at the number of christenings for males and females,
we expect to see more girls than boys about half the time, and more boys than
girls about half the time (with some rare ties).  Therefore, the chance that
there will be more male births than female births is just a little bit less
than 50%.  At a first pass, we can simulate the chances of getting
more boys than girls in any one year, as a coin toss.

In [ ]:
# Run this cell.
# A coin toss (either 0 or 1)
coin_toss = np.random.randint(0, 2)
coin_toss

Then simulating 82 years is the same as simulating 82 coin tosses:

In [ ]:
# Run this cell.
# 82 coin tosses (either 0 or 1)
coin_tosses = np.random.randint(0, 2, size=82)
coin_tosses

The proportion of heads is:

In [ ]:
# Run this cell.
p_heads = np.count_nonzero(coin_tosses == 1) / 82
p_heads

Now the simulation.   The code above does one single trial of the simulation, where one trial simulates 82 years.  Now do 10000 simulations where each of the 10000 trials simulates 82 years.   For each trial calculate the proportion of heads, and store the proportion in a 10000 element array called `proportions`.

Look at [leaping ahead](https://uob-ds.github.io/cfd2021/arrays/leaping_ahead) for
inspiration.

In [ ]:
proportions = np.zeros(10000)
for ...
    #- The loop code.
    ...

# Show the first 10 proportions
proportions[:10]

Test your answer.

In [ ]:
_ = ok.grade('q_2_proportions')

Calculate the *proportion* of the 10000 `proportions` numbers that are greater
than, or equal to, `p_gt_0` (the value you calculated above).  Store this
proportion in `p_props_greater`.

In [ ]:
p_props_greater = ...

# Show the value
p_props_greater

Test your answer:

In [ ]:
_ = ok.grade('q_p_props_greater')

You will probably conclude, with Arbuthnot, that these christening numbers are
extremely unlikely, if there really is an equal chance of there being more
girls than boys, or more boys than girls, in any one year.

Did Arbuthnot really need 82 years' worth of data?

Could he have made do with the values from 1629?

These were:

In [ ]:
# Run this cell.
all_1629 = christenings.iloc[0]
males_1629 = all_1629.loc['Males']
total_1629 = all_1629.loc['Males'] + all_1629.loc['Females']
print('Male christenings in 1629:', males_1629)
print('Total christenings in 1629:', total_1629)

Let us assume a model world where there is an equal chance of a male or a
female birth, and christening.  There is a year in that world with 9901 births.
In that model world, in that year, what is the chance that there will be 5218
or more male christenings?  (Remember, we found earlier, that there were 535
more males than females).

Here is a simulation of one year of that model world:

In [ ]:
# Run this cell.
# One trial in a simulation of the ideal world.
# Toss a coin for each of the 9901 christenings, 0=female, 1=male.
one_year = np.random.randint(0, 2, size=9901)
# Count the number of males.
n_males = np.count_nonzero(one_year == 1)
# Show the value
n_males

Now you know how to do one trial, write a for loop to do 10000 trials like this one.  Store the result of each trial in an array `male_counts`.

In [ ]:
male_counts = ...
for ...
    ...

# Show the first 10 values
male_counts[:10]

Test your answer:

In [ ]:
_ = ok.grade('q_2_male_counts')

Find the proportion of these trials that gave a value for the number of males
that is greater than or equal to 5218.

In [ ]:
#- Proportion of "male_counts" values greater or equal to 5218.
p_males_gte = ...

# Show the value
p_males_gte

Test your answer:

In [ ]:
_ = ok.grade('q_p_males_gte')

Based on the evidence above, how likely is it that the observed number of
males, 5218 out of 9901, came from a random sample from this ideal model of the
world, where there is an equal chance of a male or female christening?

Assign either 1, 2, 3, 4, or 5 to the name `likely_outcome_from_ideal` below.

1. Reasonably likely.
2. Fairly unlikely, but not unlikely enough to be surprising.
3. Unlikely, but we still cannot be confident the model is incorrect.
4. Highly unlikely, we have strong evidence the model is incorrect.
5. The observed result is logically impossible given the model of equal chances
   of male and female.

In [ ]:
likely_outcome_from_ideal = ...

The next cell checks that your answer above is in the correct format. This
test *does not* check that you answered correctly; only that you assigned a
number successfully in the multiple-choice answer cell.

In [ ]:
_ = ok.grade('q_outcome_ideal')

Finally, we might be interested to find the ratio of male births to all births.

In the UK, currently, the [proportion of boys born in the
UK](https://www.gov.uk/government/statistics/gender-ratios-at-birth-in-great-britain-2010-to-2014) is 0.513.

What was the equivalent value in Arbuthnot's data?  That is, what is the ratio of male births to all births, over all 82 years of Arbuthnot's data?

In [ ]:
m_to_all_ratio = ...
# Show the value
m_to_all_ratio

In [ ]:
_ = ok.grade('q_m_to_all_ratio')

## Done

You're finished with the assignment!  Be sure to...

- **run all the tests** (the next cell has a shortcut for that),
- **Save and Checkpoint** from the "File" menu.

In [ ]:
# For your convenience, you can run this cell to run all the tests at once!
import os
_ = [ok.grade(q[:-3]) for q in sorted(os.listdir("tests")) if q.startswith('q')]